<nav class="menu">
<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="#/order">Order</a></li>
  <li><a href="#/myOrders">My Orders</a></li>
	<li><a href="#/register">Register</a></li>
  <li><a class="active">Login</a></li>
</ul>
</nav>

<div>
	<form ng-submit="submit()" style="text-align:center">
		<h1>Login</h1>
		<br>
		<input type="text" ng-model="user.UserName" placeholder="Username"/>
		<br>
		<input type="password" ng-model="user.Password" placeholder="Password"/><br>
		<input ui-sref="home" type="submit" ng-click="submit()" value="Login"/>        
	</form>
</div>
