
<body >
	<header>
		
	</header>
	<nav class="main-menu">
		<ul>
  			<li><a href="#/order">Home</a></li>
  			<li><a href="#/order">Order</a></li>
  			<li><a href="" class="active">My Orders</a></li>
				<li><a href="#/register">Register</a></li>
				<li><a href="#/login">Login</a></li>
		</ul>
	</nav>

	<main style="background-color:grey; padding:20px"
		<section>
			<h1>Account Info</h1><br>
			<label style="font-size:14pt">Name: {{AccountInfo.FirstName}} {{AccountInfo.LastName}}</label><br>
			<label style="font-size:14pt">Address: {{AccountInfo.Address}} {{AccountInfo.City}} {{AccountInfo.Zip}}</label>
			<br>
			
			<h1>Past Orders</h1>
			<div ng-repeat="item in OrderInfo">
				<label style="font-size:14pt">OrderId: {{item.OrderId}}  Order: {{item.OrderCode}} Date:{{item.DateCreated}}</label> <br>
			</div>
		</section>
	</main>

</body>
</html>
