<nav class="menu">
	<ul>
		<li><a href="">Home</a></li>
		<li><a class="active">Order</a></li>
		<li><a href="#/myOrders">My Orders</a></li>
		<li><a href="#/register">Register</a></li>
		<li><a href="#/login">Login</a></li>
	</ul>
</nav>

<div id="orders" >
	<div id = "toppings" >
	<form ng-submit="addCustom()" style="text-align:center; background-color:white">
		<h1>Create Your Own</h1>
			<fieldset name="pizzaSize">
				<label class="OrderCategory">Size</label>
				<br>
				<!--<input type="radio" ng-model="size" value="small"> Small - 5.99<br>
				<input type="radio" ng-model="size" value="medium"> Medium - 6.99<br>
				<input type="radio" ng-model="size" value="large"> Large - 8.99<br>-->
				<button ng-click="addSize('Small', 5.99)">Small - 5.99</button>
				<button ng-click="addSize('Medium', 6.99)">Medium - 6.99</button>
				<button ng-click="addSize('Large', 8.99)">Large - 8.99</button>
			</fieldset>
			<fieldset name="Toppings" >
				<label class="OrderCategory">Toppings</label>
				<br>
				<div ng-repeat="item in productList" ng-if="item.AddOnPrice!=0">
				<!--<input type="checkbox" checklist-model="toppings.cheked"> {{item.ProductName}}<br>-->
					<button ng-click="addTopping(item)">{{item.ProductName}}</button>
				</div>
			</fieldset>
			<!--<input type="submit" value="Add To Cart"/> -->
	</form>
	</div>
	<div id="tcart" style="text-align:center; background-color:white">
		<br>
		<h2>Custom Pizza</h2>
		<div style="font-size:14pt">
		<label>Size: {{sizeChoice}} Price: {{sizeTotal}}</label><br>
		<label>Topping Price {{toppingTotal}}</label><br>
		<label>All Toppings: {{toppings}}</label><br>
		<label>Total: {{customTotal}}</label><br>
		</div>
		<button ng-click="startOver()">Start Over</button>
		<button ng-click="toCart()">Add To Cart</button>
<!--		
		<div ng-repeat="item in toppings">
			<label ng-hide="item">{{item}}</label>
		</div>-->
	</div>
	
	<div>
	<h1 style="text-align:center">Menu of Items</h1>
	<form ng-submit="submit()" ng-repeat="item in productList" class="menuItem" ng-if="item.AddOnPrice==0" style="background-color:white"> 
		<img src="./images/{{item.ProductName}}.png" alt="Yummy pizza" height="75" width="75">
		<div>
			<label ng-model="name" ng-value="{{item.ProductName}}" style="font-size:14pt">{{item.ProductName}}</label>
		</div>
		<select name="{{item.ProductName}}" ng-model="price">
			<option value="{'name':'{{item.ProductName}}', 'price': '{{item.PriceS}}', 'size':'Small', 'OrderCode':'small, {{item.ProductName}}, {{item.PriceS}}','ProductId':'{{item.ProductId}}'}">Small - {{item.PriceS}}</option>
			<option value="{'name':'{{item.ProductName}}', 'price': '{{item.PriceM}}', 'size':'Medium', 'OrderCode':'medium, {{item.ProductName}}, {{item.PriceM}}','ProductId':'{{item.ProductId}}'}">Medium - {{item.PriceM}}</option>
			<option value="{'name':'{{item.ProductName}}', 'price': '{{item.PriceL}}', 'size':'Large', 'OrderCode':'large, {{item.ProductName}}, {{item.PriceL}}','ProductId':'{{item.ProductId}}'}">Large - {{item.PriceL}}</option>
			<!--<option value="{'OrderCode':'small, {{item.ProductName}}, {{item.PriceS}}', 'ProductId':'{{item.ProductId}}'}">Small - {{item.PriceS}}</option>
			<option value="{'OrderCode':'medium, {{item.ProductName}}, {{item.PriceM}}', 'ProductId':'{{item.ProductId}}'}">Medium - {{item.PriceM}}</option>
			<option value="{'OrderCode':'large, {{item.ProductName}}, {{item.PriceL}}', 'ProductId':'{{item.ProductId}}'}">Large - {{item.PriceL}}</option>-->
		</select>
		<br>
		<input type="submit" value="Add To Cart"/>   
	</form>
</div>
</div>

<div id="cart" style="text-align:center; background-color:red" > 	
	<br>
	<h1>Cart</h1>
	<div ng-repeat="item in cart" style="font-size:14pt">
		
		<label>{{item.name}}</label>
		<label>{{item.price}}</label>
		<label>{{item.size}}</label>
		<!--<label>{{item.OrderCode}}</label>-->
		<button ng-click="remove($index)">Remove</button>	
	</div>
	<label style="font-size:14pt">Total Price: {{TotalPrice}}</label> <br>
	<button ng-click="checkout()">Checkout</button>
</div>
