
<nav class="menu">
<ul>
	<li><a href="index.html">Home</a></li>
  	<li><a href="#/order">Order</a></li>
  	<li><a href="#/myOrders">My Orders</a></li>
	<li><a class="active">Register</a></li>
	<li><a href="#/login">Login</a></li>
</ul>
</nav>

<div>
	<form ng-submit="submit()" style="text-align:center">
		<h1>Sign-Up Now!!</h1><br>
		<h2>Account Info</h2><br>
		<input type="text" ng-model="user.UserName" placeholder="Username"/>
		<br>
		<input type="text" ng-model="user.Email" placeholder="Email"/>
		<br>
		<input type="password" ng-model="user.Password" placeholder="Password"/>
		<br>
		<h2>Personal Info</h2><br>
		<input type="text" ng-model="user.FirstName" placeholder="First Name"/>
		<br>
		<input type="text" ng-model="user.LastName" placeholder="Last Name"/>
		<br>
		<input type="text" ng-model="user.Address" placeholder="Address"/>
		<br>
		<input type="text" ng-model="user.City" placeholder="City"/>
		<br>
		<input type="text" ng-model="user.Zip" placeholder="Zip"/>
		<br>
		<input type="submit" ng-click="submit()" value="Register"/>        
	</form>
</div>
