<!--<blockquote class="twitter-video" data-lang="en"><p lang="en" dir="ltr">press z button to win <a href="https://t.co/37542zy8Ct">pic.twitter.com/37542zy8Ct</a></p>&mdash; false (@fals1fy) <a href="https://twitter.com/fals1fy/status/750405290349174784">July 5, 2016</a></blockquote>-->
<div ng-controller="watchCtrl" id="show">
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/ezrj9RUUCCw" frameborder="0" allowfullscreen></iframe>-->
</div>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
